.FormularioBD {
    position: relative;
}

.FormularioBD .BaseDatos {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 50px;
}

.FormularioBD .BaseDatos {
    .form-control, .form-select{
        width: 50%;
        height: auto;
        margin-left: 13%;
    }

    .labels{
        margin-top: 10px;
        margin-left: 10%;
        margin-bottom: 5px;
        font-size: 17px;
    }
    .input-1{
        margin-top: 10px;
    }
}

.MostrarBD{
    background-color: #333;
    margin-top: 5%;
    margin-right: 1%;


    
}
.botoncito3{
    position: absolute;
    top:15px;
    left: 14%;

}

.principal {
    .botoncito{
        position: absolute;
        top:15px;
        left: 14%;

    }
    
}